{% extends "base.html" %}

{% block title %}Main Page{% endblock %}

{% block content %}
<h1>Please scan your card below</h1>
<div style="text-align: center; margin-top: 80px;">
    <i class="fas fa-rss" style="font-size: 180px; color: #5cb85c;"></i>
</div>

<script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const socket = io();

        socket.on('connect', () => {
            console.log("Connected to WebSocket");
        });

        socket.on('card_scanned', function (data) {
            if (data.employee_id) {
                window.location.href = `/employee_status/${data.employee_id}`;
            }
        });

        socket.on('disconnect', () => {
            console.log("Disconnected from WebSocket");
        });
    });
</script>
{% endblock %}
