{% extends "base.html" %}

{% block title %}Employee Status{% endblock %}

{% block content %}
<h1>Welcome, {{ employee.name }}!</h1>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class="flashes">
      {% for category, message in messages %}
        <li class="{{ category }}" id="success-message">{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

{% if error_message %}
  <p style="color: red;">{{ error_message }}</p>
{% endif %}

<form method="post">
  <div class="formName">Your status:</div>
  <div class="status-current status-{{ employee.status.name | lower | replace(' ', '') }}">{{ employee.status.name }}</div>
  {% for status in statuses %}
    {% if status.id != employee.status_id %}
      <button type="submit" name="status_id" value="{{ status.id }}" class="status-{{ status.name | lower | replace(' ', '') }}">{{ status.name }}</button>
    {% endif %}
  {% endfor %}
</form>

<form action="{{ url_for('main_page') }}" method="get">
  <button type="submit" style="background-color: indianred">Back</button>
</form>

<script>
  // Hide the success message after 5 seconds
  setTimeout(function() {
    var successMessage = document.getElementById('success-message');
    if (successMessage) {
      successMessage.style.display = 'none';
    }
  }, 5000);
</script>
{% endblock %}