{% extends "base.html" %}

{% block title %}Main Page{% endblock %}

{% block content %}
<h1>Please scan your card below</h1>
<div style="text-align: center; margin-top: 80px;">
    <i class="fas fa-rss" style="font-size: 180px; color: #5cb85c;"></i>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        function checkCard() {
            fetch('/check_card')
                .then(response => response.json())
                .then(data => {
                    if (data.redirect_url) {
                        // Redirect to the employee_status page
                        window.location.href = data.redirect_url;
                    } else {
                        // Retry after 1 second
                        setTimeout(checkCard, 1000);
                    }
                })
                .catch(error => console.error('Error checking card:', error));
        }

        // Start polling for NFC card detection
        checkCard();
    });
</script>
</script>
{% endblock %}